:root{
  --background-color: #102039;
  --primary-color: #61dbfb;
  --accent-color: #f1d302;
  --error-color: #c1292e;
  --neutral-color: #fffbfc;
}
body{
  background-color: var(--background-color);
  color: var(--primary-color);
}
button{
  font-weight:900!important;
  color: var(--accent-color)!important;
  border-color: var(--accent-color)!important;
}
button:hover{
  color:var(--accent-color)!important;
  border-color:var(--accent-color)!important;
  background-color:transparent!important;
}
.caesarbox-title{
  margin:0;
  padding:0;
  font-size:200px;
  text-align:center;
  font-family:'Roboto Mono',sans-serif;
  color:var(--accent-color);
}
.caesarbox-title div{
  margin:0;
  padding:0;
  line-height:190px;
}
.caesarbox-subtitle{
  font-size:24px;
  text-align:center;
  font-family:'Montserrat',sans-serif;
  color:var(--accent-color);
}
.resume{
  font-family:'Montserrat',sans-serif;
}
